/* 색상 참고:  https://material.io/design/color/ */
.link {
    display: table-cell;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.link:hover {
    background: rgba(0, 0, 0, 0.1);
    color: white;
}

.link.active {
    background: rgba(0, 0, 0, 0.3);
}