.qa {
    background: #ECEFF1;
    margin: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
}
.text {
    padding: 0px;
}
.icon {
    float: right;
}
.icon img {
    width: 20px;
    margin-right: 5px;
}
.hide {
    display: none;
}
.question {
    padding: 4px;
}
.answer {
    background: #FFFFFF;
    padding: 4px;
}